/*
left column layout
*/
.col-left {
    float:left;
    width:48%;
    background-color: red;
}

.radiobuttons {
    position:relative;
    float:left;
    margin-top:5%;
    background-color:white;
}

.searchbutton {
    float:left;
    margin-top:5%;
    position:relative;
    margin-left:5%;
}

.searchresults {
    float:left;
    margin-top:5%;
    background-color:green;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}


#advancedSearchButton {
    float:right;
    margin-right:15%;
}

#searchPanel {
    margin-top:2%;
}

#advancedSearchForm{
    display:none;
    background-color:pink;
}

/*
right column layout
*/

.col-right {
    float:right;
    width:48%;
    background-color: blue;
}



.fleetsummary {
    background-color:purple;
}



.fleetdisplay {
    margin-top:5%;
}




/*
global elements
*/
.border {
}

.banner {
    width:100%;
    background-color:green;
}


.footer {
    position:absolute;
    bottom:0;
    background-color:gray;
}

body {
    background-color: yellow;
    position:relative;
    padding-bottom:100%;
}
